$themeColor: rgba(152, 52, 255, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    img.fixed-image {
        min-height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -5;
        bottom: 0;
        left: 0;
    }

    header {

        /* 指定 logo 圖片的大小 */
        .navbar {
            img {
                width: 80px;
                /* 或您希望的尺寸 */
                height: 80px;
                /* 與寬度相同以保持圖片比例 */
                object-fit: cover;
                /* 確保圖片不會失真 */
                border-radius: 50%;
                /* 裁切成圓形 */
            }
        }
    }

    main {
        section.background-img {
            min-height: 70vh;
            background-image: url("../images/大圖1.jpg");
            background-size: cover;
            background-position: center;
            transition: all 0.75s ease;
            margin: auto;
            z-index: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            div.filter {
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                min-height: 70vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            h3 {
                color: white;
                font-size: 2.5rem;
                text-align: center;
            }
        }

        section.linda-img {
            margin-top: 5rem;
            margin-bottom: 2rem;
            height: 60vh;
            /* 保持原來的高度 */
            width: 60vh;
            /* 寬度設為與高度相同，形成正方形 */
            background-image: url("../images/linda.jpg");
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 0;

            display: flex;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            /* 使其成為圓形 */

            div.filter {
                background-color: rgba(0, 0, 0, 0.3);
                width: 100%;
                height: 100%;
                /* 調整為與外層容器相同的高度 */
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: 50%;
                /* 同樣使其成為圓形 */
            }

            h3 {
                position: absolute;
                /* 將 h3 設置為絕對定位 */
                top: -15%;
                /* 根據需要調整 */
                left: 35%;
                /* 根據需要調整 */
                color: white;
                font-size: 2.5rem;
                text-align: center;
            }
        }

        section.info-worker {
            background-color: rgb(249, 215, 215);
            padding: 2rem 1rem;
            text-align: center;

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .circles {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1rem;

                .worker {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .img-container {
                        width: 220px;
                        height: 220px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-size: cover;
                        margin-bottom: 0.5rem; // 留出空間給文字
                        transition: all 0.1s ease-in;
                        padding: 0.3rem;

                        &:hover {
                            border: 3px solid $themeColor;
                        }
                    }

                    p {
                        font-size: 1.2rem;
                        color: black;
                        text-align: center;
                    }
                }
            }
        }

        section.info-circles {
            background-color: rgb(241, 204, 204);
            padding: 2rem 1rem;
            text-align: center;

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .circles {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1rem;

                .circle-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    a {
                        text-decoration: none;
                    }

                    .circle {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-size: cover;
                        margin-bottom: 0.5rem;

                        &:hover {
                            border: 3px solid $themeColor;
                        }
                    }

                    p {
                        font-size: 1.2rem;
                        color: black;
                        text-align: center;
                    }
                }
            }
        }

        section.package-details {
            background-color: white;
            padding: 2rem;
            text-align: center;

            h3 {
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }

            .package-circles {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;

                .package-item {
                    width: 300px;
                    padding: 1rem;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    text-align: left;

                    .image {
                        width: 100%;
                        height: 200px;
                        background-size: cover;
                        background-position: center;
                        border-radius: 10px;
                    }

                    h4 {
                        font-size: 1.8rem;
                        margin-top: 1rem;
                        color: #333;
                    }

                    h3 {
                        font-size: 1.4rem;
                        color: #f94242;
                        margin-top: 0.5rem;
                    }

                    p {
                        font-size: 1rem;
                        color: #666;
                        margin-top: 0.5rem;
                    }
                }
            }
        }

        section.empty-container {
            min-height: 70vh;
            background-color: rgba($color: #000000, $alpha: 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h3 {
                font-size: 2rem;
                color: white;
            }
        }

        section.google-map {
            background-color: white;
            padding: 2rem 1rem;
            text-align: center;

            h3 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.25rem;
                margin: 1rem;
            }

            iframe {
                width: 100%;
                height: 40vh;
            }
        }

        section.number {
            text-align: center; // 確保文字居中
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 添加輕微的陰影效果
            border-radius: 10px; // 圓角邊框
            max-width: 400px; // 最大寬度限制
            margin: 20px auto; // 添加此行以使整個區塊居中

            h3 {
                margin-top: 10px;
                margin-bottom: 20px;
                color: #333; // 文字顏色
                font-size: 1.2em; // 文字大小
            }

            img {
                display: block; // 使圖片成為區塊元素
                max-width: 100%; // 確保圖片在容器內
                height: auto; // 自動調整高度以避免失真
                border-radius: 5px; // 圖片圓角
                margin: 0 auto; // 在左右邊距設為自動，以使圖片居中
            }
        }
    }

    footer {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);

        section.logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 20vw;
                border-radius: 50%;
            }

            h3 {
                font-size: 4rem;
            }
        }

        section.links {
            margin-top: 2rem;

            a {
                img {
                    width: 5vh;
                    margin: 0rem 1rem;
                }
            }
        }

        .toTop-arrow {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 33%;
            opacity: 0.6;
            background: #000;
            cursor: pointer;
            position: fixed;
            right: 1rem;
            bottom: 1rem;
            display: none;
            z-index: 10;
        }

        .toTop-arrow::before,
        .toTop-arrow::after {
            width: 18px;
            height: 5px;
            border-radius: 3px;
            background: rgb(243, 240, 236);
            position: absolute;
            content: "";
        }

        .toTop-arrow::before {
            transform: rotate(-45deg) translate(0, -50%);
            left: 0.5rem;
        }

        .toTop-arrow::after {
            transform: rotate(45deg) translate(0, -50%);
            right: 0.5rem;
        }

        .toTop-arrow:focus {
            outline: none;
        }

    }
}

@media screen and (max-width: 780px) {
    body {
        header {
            position: static;

            section.logo {
                flex-direction: column;

                img {
                    width: 15vw;
                    height: 15vw;
                }
            }

            nav {
                ul {
                    flex-direction: column;

                    li {
                        padding: 0.5rem 0.25rem;
                    }
                }
            }
        }

        main {
            section.number {
                h3 {
                    display: flex;
                    flex-direction: column;
                }
            }

            section.linda-img {
                height: 40vh;
                width: 40vh;

                h3 {
                    top: -20%;
                    left: 35%;
                }
            }
        }

        footer {
            .toTop-arrow {
                width: 2.5rem;
                height: 2.5rem;
                padding: 0;
                margin: 0;
                border: 0;
                border-radius: 33%;
                opacity: 0.6;
                background: #000;
                cursor: pointer;
                position: fixed;
                right: 1rem;
                bottom: 1rem;
                display: none;
                z-index: 10;
            }

            .toTop-arrow::before,
            .toTop-arrow::after {
                width: 18px;
                height: 5px;
                border-radius: 3px;
                background: #f90;
                position: absolute;
                content: "";
            }

            .toTop-arrow::before {
                transform: rotate(-45deg) translate(0, -50%);
                left: 0.5rem;
            }

            .toTop-arrow::after {
                transform: rotate(45deg) translate(0, -50%);
                right: 0.5rem;
            }

            .toTop-arrow:focus {
                outline: none;
            }
        }
    }

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $themeColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 3, 76);
}